:host {
  display: flex;
  flex-direction: column;
  gap: 1.562rem;
  text-align: left;
}

@media (min-width: 90rem) {
  :host {
    align-items: center;
    display: grid;
    grid-template-areas:
      "supervisor team-builder calculator"
      "supervisor karma        calculator";
    grid-template-columns: repeat(3, 31.531%);
    justify-content: space-between;
  }
}
