:host {
  display: block;
  text-align: center;
  padding: 5.2rem 8% 5rem;
}

header {
  margin-bottom: 4.6rem;
}

h1,
h2 {
  color: var(--color-neutral-very-dark-blue);
  font-size: 1.52rem;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  color: var(--color-neutral-grayish-blue);
  letter-spacing: 0.1px;
  line-height: 1.65;
}

@media (min-width: 90rem) {
  :host {
    padding: 5.35rem 11.458% 5rem;
  }

  header {
    margin-bottom: 4rem;
  }

  h1,
  h2 {
    font-size: 2.2rem;
  }

  p {
    margin: auto;
    width: 32rem;
  }
}
