:host {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.container {
  border-top: 4px solid;
  padding: 1.45rem 9.524%;
}

h2 {
  color: var(--color-neutral-very-dark-blue);
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  color: var(--color-neutral-grayish-blue);
  font-size: 0.83rem;
}
